.login{
  position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 56px;
  background: #eee;
  z-index: 0;
  .content{
    width: 400px;
    height: 200px;
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    .ant-input{
      margin-bottom: 20px;
    }
  }
}